<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Campground</title>
</head>
<body>
  <h1>캠핑장 수정하기</h1>
  <form action="/campgrounds/<%= campground._id  %>?_method=PUT" method="POST">
    <div>
      <label for="title">이름</label>
      <input type="text" name="campground[title]" id="title" value="<%= campground.title %>">
    </div>
    <div>
      <label for="price">가격</label>
      <input type="text" name="campground[price]" id="price" value="<%= campground.price %>">
    </div>
    <div>
      <label for="description">설명</label>
      <input type="text" name="campground[description]" id="description" value="<%= campground.description %>">
    </div>
    <div>
      <label for="location">주소</label>
      <input type="text" name="campground[location]" id="location" value="<%= campground.location %>">
    </div>
    <button>수정하기</button>
  </form>
  <div>
    <a href="/campgrounds/<%= campground._id %>">캠핑장으로 가기</a>
    <a href="/campgrounds">모든 캠핑장 보기</a>
  </div>
  <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
    <button>캠핑장 삭제하기</button>
  </form>
</body>
</html>