<% layout('layouts/boilerplate') %> 
<div class="row">
  <div class="col-6 offset-1">
    <div class="card mb-4">
      <img src="https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title mb-4 mt-2"><%= campground.title %></h4>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>₩ <%= campground.price %></b><small> / 박</small></li>
        <li class="list-group-item text-muted"><%= campground.location %></li>
      </ul>
      <div class="card-body">
        <a class="card-link btn text-white" href="/campgrounds/<%= campground._id %>/edit" style="background-color: #D4005B;">캠핑장 수정하기</a>
        <a class="card-link btn text-white" href="/campgrounds" style="background-color: #D4005B;">모든 캠핑장 보기</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <h4>캠핑장 리뷰</h4>
    <form class="mb-4 validated-form" action="/campgrounds/<%= campground._id %>/reviews" method="POST" novalidate>
      <div class="mb-3">
        <label class="form-label" for="rating">별점 등록</label>
        <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
      </div>
      <div class="mb-3">
        <label class="form-label" for="comment">리뷰 작성</label>
        <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="3" required placeholder="캠핑 경험을 소개해주세요"></textarea>
      </div>
      <button class="btn text-white" style="background-color: #D4005B;">리뷰 남기기</button>
    </form>
    <% for (let review of campground.reviews) { %> 
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <h6 class="card-title mb-3 mt-1"><b>게스트</b></h6>
          </div>
          <div class="col-md-3 mt-1">
            <p>별점: <%= review.rating %>점</p>
          </div>
        </div>
        <p class="card-text"><%= review.comment %></p>
        <div>
          <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-outline-danger">삭제하기</button>
          </form>
        </div>
      </div>
    </div>
    <% } %> 
  </div>
</div>
