<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/star.css">

<div class="row">
  <div class="col-6 offset-1">
    <div class="card mb-4">
      <img src="<%= campground.image%> " class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title mb-4 mt-2"><%= campground.title %></h4>
        <p class="card-text text-muted"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><img src="/images/icon_price.png" alt="Logo" width="18" height="18"> <b><%= campground.price %></b><small> / 박</small></li>
        <li class="list-group-item"><img src="/images/icon_host.png" alt="Logo" width="18" height="18"> <b></b><%= campground.host.username %></li>
      </ul>
      <% if (currentUser && campground.host.equals(currentUser._id)) { %> 
      <div class="card-body">
        <a class="card-link btn text-white" href="/campgrounds/<%= campground._id %>/edit" style="background-color: #D4005B;">캠핑장 수정하기</a>
        <a class="card-link btn text-white" href="/campgrounds" style="background-color: #D4005B;">모든 캠핑장 보기</a>
      </div>
      <% } %> 
    </div>
    <div class="card mb-4">
      <ul class="list-group list-group-flush">
        
        <li class="list-group-item"><img src="/images/icon_location.png" alt="Logo" width="18" height="18"><b> 장소 ⎜</b> <%= campground.location %></li>
      </ul>
      <div id="map" style="width:100%;height:350px;"></div>
    </div>
  </div>

  <div class="col-4">
    <h4>캠핑장 리뷰</h4>
    <form class="mb-4 validated-form" action="/campgrounds/<%= campground._id %>/reviews" method="POST" novalidate>
      <div class="mb-1">
        <label class="form-label" for="rating">별점 등록</label>
        <fieldset class="starability-basic">
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="3" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset> 
      </div>
      <div class="mb-3">
        <label class="form-label" for="comment">리뷰 작성</label>
        <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="3" required placeholder="캠핑 경험을 소개해주세요"></textarea>
      </div>
      <button class="btn text-white" style="background-color: #D4005B;">리뷰 남기기</button>
    </form>
    <hr class="mb-4">
    <% for (let review of campground.reviews) { %> 
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <h6 class="card-title mb-3 mt-1"><b><%= review.commenter.username %></b></h6>
        </div>
        <p class="starability-result" data-rating="<%= review.rating %>"></p>
        <p class="card-text"><%= review.comment %></p>
        <% if (currentUser && review.commenter.equals(currentUser._id)) { %>
        <div>
          <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-outline-danger">삭제하기</button>
          </form>
        </div>
        <% } %> 
      </div>
    </div>
    <% } %> 
  </div>
</div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= javascriptkey %>&libraries=services"></script>
<script>
  const mapContainer = document.getElementById('map') // 지도를 표시할 div 
  const mapOption = {
    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
    level: 3 // 지도의 확대 레벨
  };
  const map = new kakao.maps.Map(mapContainer, mapOption);
  const geocoder = new kakao.maps.services.Geocoder();
  geocoder.addressSearch('<%= campground.location %>', function(result, status) {
    if (status === kakao.maps.services.Status.OK) {
      const coords = new kakao.maps.LatLng(result[0].y, result[0].x);
      const marker = new kakao.maps.Marker({
        map: map,
        position: coords
      });
        // const infowindow = new kakao.maps.InfoWindow({
        //   content: '<div style="width:150px;text-align:center;padding:6px 0;"><%= campground.title %></div>'
        // });
        // infowindow.open(map, marker);
      map.setCenter(coords);
    } 
  });    
</script>