<% layout('layouts/boilerplate') %> 
<h1><%= campground.title %> </h1>
<ul>
  <li><%= campground.price %></li>
  <li><%= campground.description %></li>
  <li><%= campground.location %></li>
</ul>
<img src="<%= campground.image %>" alt=""> 
<div>
  <a href="/campgrounds/<%= campground._id %>/edit">캠핑장 수정하기</a>
  <a href="/campgrounds">모든 캠핑장 보기</a>  
</div>
